@import url(style.css);

main{
width: 1142px;
height: 673px;
border: 2px solid #8d1fd6;
margin: 10vh auto;
background-image: linear-gradient(#efd5ff, rgba(94, 103, 231, 0.651));
display: flex;
}
.sessao-imagem{
    width: 522px;
    height: 673px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sessao-login{
    height: 673px;
    width: 620px;
}
.area-titulo{
    text-align: center;
}
.area-titulo h1, span{
    font-size: 36px;
    padding-bottom: 5px;
}

.area-titulo h2{
    font-size: 24px;
    
}