@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
body{
    margin: 0;
    font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;

}

header{ 
    background-color: rgb(107, 105, 224);
    max-width:100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    color: rgb(153, 105, 197);
    align-items: center;  
    padding: 0 100px;
}

#nome-logo{ 
    font-weight: 500;
    font-size: 25px;
    margin-left: 40px;
    color: #efd5ff;
}
span{
    font-weight: 500;
    font-size: 25px;
    color: rgb(174, 219, 189);
}
ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
 .menu{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    transition: 0.3s;
    font-size: 20px;
    font-weight:500;
}
.menu:hover{
    color: rgba(136, 122, 211, 0.651);
    background-color: rgb(174, 219, 189);
    border-radius: 5px;
    border: #8d1fd6;
    box-shadow: 5px 5px 5px #fff;
    opacity: 90%;
}
.banner-principal{

    text-align: center;
    padding: 40px 200px;
    background-image:linear-gradient( #efd5ff, #515ada );
    color: rgb(157, 86, 224);
    height: 35vh;
    
}
h1{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 25px;
}
p{
    margin-bottom: 30px;
    font-size: 25px;
}
#btn-ver-livros{
   background-color: rgba(94, 103, 231, 0.651);
   text-decoration: none;
   color: #fff;
   padding: 20px;
   border-radius: 10px;
   
}
#btn-ver-livros:hover {
    background-color: #efd5ff;
}
.foto-livro{
    max-width: 10vw;

}
.grade-livro{
    max-width: 80vw;
    margin: 20px auto;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;

}
.area-titulo{
    text-align: center;
    font-size: 35px;
    margin: 30px 0px;
    margin-bottom: 70px;
}
.card-livro{
width: 300px;
text-align: center;
border-radius: 30px;
padding-top: 30px;
box-shadow: 0px 0px 10px rgba(94, 103, 231, 0.651);
overflow: hidden;
}
.info-livro{
    padding-top: 20px;
}
.btn-livro{
    background-color: rgba(136, 122, 211, 0.651);
    padding: 20px;
    color: var(#efd5ff);
    border: none;
    border-radius: 5px;
}
.btn-livro:hover{
    background-color: rgb(174, 219, 189);
}
.categoria-livro{
    font-size: 16px;
    font-weight: 400;
    color: rgba(136, 122, 211, 0.651);      
    background-color: #efd5ff;
    padding: 5px;
    border-radius: 15px;

}
.titulo-livro{
    font-size: 25px;
    color: #8d1fd6;
    padding: 15px 0;

}
.autores-livro{
font-size: 16px;
margin-bottom: 15px;

}
/* Seção como funciona */

.ajuda{
    background-image: linear-gradient(#efd5ff,#8d1fd6);
    padding: 60px 20px;
}

.ajuda h2 {
    color: var(#8d1fd6);
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.todos-passos{
    display: flex;
    justify-content: center;
    max-width: 85vw;
    margin: 0 auto;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
}

.passo{
    width: 25vw;
}

.numero-passo{
    font-size: 35px;
    color: var rgba(136, 122, 211, 0.651);

}

.passo h3 {
    font-size: 23px;
    color: var(#8d1fd6);
    font-weight: 600;
}

.passo p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}

footer{    
    background-image: linear-gradient(#efd5ff);
}

.footer-container{
    margin: 0 auto;
    width: 80vw;
    color: rgba(94, 103, 231, 0.651);
    display: flex;
    justify-content: space-between;
}

.footer-coluna{
    display: flex;
    flex-direction: column;
}
footer{
    background-color:#8d1fd6;
    color: rgba(94, 103, 231, 0.651);
    padding: 10px;
}
.logo{
    font-size: 25px;
    font-weight: 500;
}
.footer-coluna p{
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 15px;
}
.footer-coluna{
    display: flex;
    flex-direction: column;
    max-width: 28vw;
}
.footer-coluna ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 15px;
    padding: 0;
}
a{
    text-decoration: none;
    color:  rgba(94, 103, 231, 0.651);
}
.footer-coluna h4{
    color: #8d1fd6;
}
.footer-social{
padding: 15px;
}
.footer-linha{
    max-width: 80vw;
    margin: 20px auto;
    border: 1px solid #8d1fd6;
}
.footer-copy{
    margin-top: 20px;
    text-align: center;
    
}

